* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c i"
    "d d d d"
    "n n n n"
    "e e e e"
    "g g g g"
    ;

    grid-template-rows: 72px 52px 32px 40px 40px 40px auto;
    background-color: #333;
    color: #fff;
}

.sidebar h2 {
    grid-area: a;
}

.sidebar p {
    grid-area: b;
}

.sidebar input {
    grid-area: c;
}

.sidebar i {
    grid-area: i;
}

.sidebar button {
    grid-area: d;
}

.sidebar .list {
    grid-area: e;
}

.sidebar .gap {
    grid-area: g;
}

.sidebar .new {
    grid-area: n;
}

.sidebar h2 {
    margin-right: -12px;
    border: 1px solid #595252;
}

.sidebar img {
    border-radius: 100%;
    margin-right: 8px;
}

.sidebar p img {
    margin-left: 12px;
}

.sidebar #search {
    border: none;
    position: relative;
    width: 221px;
}

.sidebar .search {
    top: 124px;
    left: 196px;
    border: 1px solid #ccc;
    padding: 8px 8px 6px 8px;
    color: #000;
    position: absolute;
}

.sidebar .search:hover {
    color: #fff;
    background-color: red;
    cursor: pointer;
}

.sidebar button .chart {
    max-width: 221px;
}

.sidebar select {
    border: none;
    background-color: #f5f5f5;
}

.sidebar select:hover {
    background-color: #000;
    color: #fff;
}

.sidebar .list {
    padding-left: 32px;
}

.sidebar .new {
    padding-left: 24px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}


.nav {
    width: 100%;
    height: 46px;
    background-color: #ccc;
    display: block;
}

.nav a {
    color: #000;
    text-decoration: none;
    line-height: 46px;
    padding: 0 16px;
}

.nav a:hover {
    background-color: #000;
    color: #fff;
    display: inline-block;
}


.row h2 {
    padding: 8px 12px;
}


.right-content .card ul li {
    list-style-type: none;
}

.card .icon-list ul {
    display: flex;
}

.card .icon-list ul li button{
    width: 30px;
    margin: 0 4px;
}

.card .icon-list ul li i {
    color: #000;
    
}


.card h4 {
    padding: 12px;
    border: 1px solid #ddd;
}

.form-label {
    font-size: 16px;
    font-weight: 750;
}

.card .row .form-label {
    padding-left: 32px;
}

.card .form-control {
    position: relative;
}

.card .btn {
    position: absolute;
}

.card .btn-browse {
    top: 143px;
    right: 101px;
}

.card .btn-upload {
    top: 143px;
    right: 25px;
}

.card .btn-browse, .btn-upload {
    background-color: #ccc;
    color: #000;
}

.card .btn-browse:hover, .btn-upload:hover {
    background-color: #000;
    color: #fff;
}